<div class="page-background-1">
    <div class="container container-page">

      <div class="hero-unit">
        <div class="pull-left" style="margin-right: 20px;">
          <img alt="{{_app.title}}" src="images/logo-recycle.png">
        </div>
        <h1>Recycle with <a href="http://en.wikipedia.org/wiki/Karung_guni" target="_blank">Karung Gunis</a>!</h1>
        <p>It's simple, convenient and fun.</p>
        <p>
          All of our karung gunis are:
        </p>
        <ul class="unstyled">
          <li><i class="icon-ok"></i> Honest &amp; diligent</li>
          <li><i class="icon-ok"></i> Strategically located near you</li>
          <li><i class="icon-ok"></i> Will pay you good money for your unwanted items</li>
          <li><i class="icon-ok"></i> Accepts poh zhua, gu sa kor, pai leh-lio, dian si ki... and much more!</li>
        </ul>
      </div>

      <div class="clearfix">&nbsp;</div>
      
    </div>
</div>