<div class="page-background-1">
    <div class="container container-page">

      <div class="hero-unit">
        <div class="pull-left" style="margin-right: 20px;">
          <img alt="{{_app.title}}" src="/images/logo-96.png">
        </div>
        <h1>Get your place cleaned.</h1>
        <p>It's simple, affordable and convenient.</p>
        <p>
          All our cleaners have:
        </p>
        <ul class="unstyled">
          <li><i class="icon-ok"></i> Insurance &amp; Bonding For Cleanings</li>
          <li><i class="icon-ok"></i> Background &amp; References Checked</li>
          <li><i class="icon-ok"></i> Interviewed &amp; Tested In Person</li>
          <li><i class="icon-ok"></i> Passed Professional Cleaner Exam</li>
          <li><i class="icon-ok"></i> Maintained High Client Ratings</li>
          <li><i class="icon-ok"></i> Fluent English Speaking Skills</li>
        </ul>
      </div>

      <div class="clearfix">&nbsp;</div>

    </div>
</div>