<div class="accordion-group space2">

  <div class="accordion-inner panel-padding">

    <div class="profile_pic simple-slideshow span4">
      <a href="#/user/{{user_profile.user_id}}">
        <img class="img-polaroid" ng-src="//graph.facebook.com/{{user_profile.username}}/picture" style="box-sizing: border-box;" />
      </a>
    </div>
    <div class="span7" ng-show="user_profile.user_type==0">
      <p>Amount Earned</p>
      <h4 ng-controller="UserPayoutCtrl">S$ {{user_payout.sum || 0.00}}</h4>
    </div>
    <div class="span7" ng-show="user_profile.user_type==1">
      <p>Amount Issued</p>
      <h4 ng-controller="UserPayoutIssuedCtrl">S$ {{user_payout_issued.sum || 0.00}}</h4>
    </div>
    <div style="clear:both;"></div>

    <div class="caption">
      <h4 class="name shift">
        <span class="verification_user_name" ng-bind-html-unsafe="user_profile.display_name"></span>
      </h4>
      <h5 class="location" ng-bind-html-unsafe="user_profile.location.formatted_address"></h5>
      <h6 class="join_year">Is a <span ng-show="user_profile.user_type==0">friend</span> <span ng-show="user_profile.user_type==1">Karung Guni</span> since: {{user_profile.created_on | date:'MMMM yyyy' }}</h6>
      <h6 class="updated_year">Last updated on: {{user_profile.updated_on | date:'MMMM yyyy' }}</h6>
    </div>
    <div class="hidden" id="contact_wrapper">
      <a href="/users/2676602/contact" class="btn large gray" id="user_contact_link"> Contact Me </a>
    </div>

  </div>

</div>