<div class="container">

  <div class="row-fluid">
    <div class="span12">
      <h1 class="header-underline">Cancellation Policies</h1>
      <p class="space2">
        Airbnb allows hosts to choose amongst three standardised cancellation policies (Flexible, Moderate, and Strict) that we will enforce to protect both guest and host alike. The Super Strict cancellation policy applies to special circumstances and is by invitation only. The Long Term cancellation policy applies to all reservations of 28 nights or more. Each listing and reservation on our site will clearly state the cancellation policy. Guests may cancel and review any penalties by viewing their travel plans and then clicking 'Cancel' on the appropriate reservation. <a href="/home/travel_plans" target="_blank">Your Trips</a>
      </p>

      <div class="panel-border">
        <ul class="nav nav-tabs panel-background-gray">
          <li class="active">
            <a href="#flexible">Flexible</a>
          </li>
          <li>
            <a href="#moderate">Moderate</a>
          </li>
          <li>
            <a href="#strict">Strict</a>
          </li>
          <li>
            <a href="#super-strict">Super Strict</a>
          </li>
          <li>
            <a href="#long-term">Long Term</a>
          </li>
        </ul>
        <div class="tab-content panel-padding">
          <div class="tab-pane active" id="flexible">


            <h4>Flexible: Full refund 1 day prior to arrival, except fees</h4>
            <ul>
              <li>Cleaning fees are always refunded if the guest did not check in.</li>
              <li>The Airbnb service fee is non-refundable.</li>
              <li>If there is a complaint from either party, notice must be given to Airbnb within 24 hours of check-in.</li>
              <li>Airbnb will mediate when necessary, and has the final say in all disputes.</li>
              <li>A reservation is officially cancelled when the guest clicks the cancellation button on the cancellation confirmation page, which they can find in Dashboard &gt; Your Trips &gt; Change or Cancel.</li>
              <li>Cancellation policies may be superseded by the Guest Refund Policy, safety cancellations, or extenuating circumstances. Please review these exceptions.</li>
            </ul>

            <div id="timeline-section">
              <div id="timeline">
                <div id="first-timeline-block">&nbsp;</div>
                <div id="second-timeline-block" class="timeline-block">Within 24 hours of check in</div>
                <div id="third-timeline-block">During your stay</div>
                <div id="fourth-timeline-block">&nbsp;</div>
              </div>

              <ol class="timeline-pins">
                <li id="first-pin">
                  <div class="label">
                    <div>1 day prior</div>
                    <div class="arrow">
                      <div class="circle"></div>
                      <div class="time">Thu, Jul 25<br>3:00 PM</div>
                    </div>
                  </div>
                </li>
                <li id="second-pin">
                  <div class="label">
                    <div>Check in</div>
                    <div class="arrow">
                      <div class="circle"></div>
                      <div class="time">Fri, Jul 26<br>3:00 PM</div>
                    </div>
                  </div>
                  <div class="example">
                    Example
                    <br>&nbsp;
                  </div>
                </li>
                <li id="third-pin">
                  <div class="label">
                    <div>Check out</div>
                    <div class="arrow">
                      <div class="circle"></div>
                      <div class="time">Mon, Jul 29<br>11:00 AM</div>
                    </div>
                  </div>
                </li>
              </ol>
            </div>

            <div id="timeline-annotation" class="clearfix">
              <div class="tl-annotation">
                <ul>
                  <li>For a full refund, cancellation must be made a full 24 hours prior to listing's local check in time (or 3:00 PM if not specified) on the day of check in. For example, if check-in is on Friday, cancel by Thursday of that week before check in time.</li>
                </ul>
              </div>
              <div class="tl-annotation">
                <div class="annotation-border"></div>
                <ul>
                  <li>If the guest cancels less than 24 hours before check-in, the first night is non-refundable.</li>
                </ul>
              </div>
              <div class="tl-annotation">
                <div class="annotation-border"></div>
                <ul>
                  <li>If the guest arrives and decides to leave early, the nights not spent 24 hours after the official cancellation are 100% refunded.</li>
                </ul>
              </div>
            </div>



            <br>

          </div>
          <div class="tab-pane" id="moderate">


            <h4>Moderate: Full refund 5 days prior to arrival, except fees</h4>
            <ul>
              <li>Cleaning fees are always refunded if the guest did not check in.</li>
              <li>The Airbnb service fee is non-refundable.</li>
              <li>If there is a complaint from either party, notice must be given to Airbnb within 24 hours of check-in.</li>
              <li>Airbnb will mediate when necessary, and has the final say in all disputes.</li>
              <li>A reservation is officially cancelled when the guest clicks the cancellation button on the cancellation confirmation page, which they can find in Dashboard &gt; Your Trips &gt; Change or Cancel.</li>
              <li>Cancellation policies may be superseded by the Guest Refund Policy, safety cancellations, or extenuating circumstances. Please review these exceptions.</li>
            </ul>

            <div id="timeline-section">
              <div id="timeline">
                <div id="first-timeline-block">&nbsp;</div>
                <div id="second-timeline-block" class="timeline-block">Within 5 days of check in</div>
                <div id="third-timeline-block">During your stay</div>
                <div id="fourth-timeline-block">&nbsp;</div>
              </div>

              <ol class="timeline-pins">
                <li id="first-pin">
                  <div class="label">
                    <div>5 days prior</div>
                    <div class="arrow">
                      <div class="circle"></div>
                      <div class="time">Sun, Jul 21<br>3:00 PM</div>
                    </div>
                  </div>
                </li>
                <li id="second-pin">
                  <div class="label">
                    <div>Check in</div>
                    <div class="arrow">
                      <div class="circle"></div>
                      <div class="time">Fri, Jul 26<br>3:00 PM</div>
                    </div>
                  </div>
                  <div class="example">
                    Example
                    <br>&nbsp;
                  </div>
                </li>
                <li id="third-pin">
                  <div class="label">
                    <div>Check out</div>
                    <div class="arrow">
                      <div class="circle"></div>
                      <div class="time">Mon, Jul 29<br>11:00 AM</div>
                    </div>
                  </div>
                </li>
              </ol>
            </div>

            <div id="timeline-annotation" class="clearfix">
              <div class="tl-annotation">
                <ul>
                  <li>For a full refund, cancellation must be made five full days prior to listing's local check in time (or 3:00 PM if not specified) on the day of check in. For example, if check-in is on Friday, cancel by the previous Sunday before check in time.</li>
                </ul>
              </div>
              <div class="tl-annotation">
                <div class="annotation-border"></div>
                <ul>
                  <li>If the guest cancels less than 5 days in advance, the first night is non-refundable but the remaining nights will be 50% refunded.</li>
                </ul>
              </div>
              <div class="tl-annotation">
                <div class="annotation-border"></div>
                <ul>
                  <li>If the guest arrives and decides to leave early, the nights not spent 24 hours after the cancellation occurs are 50% refunded.</li>
                </ul>
              </div>
            </div>



            <br>

          </div>
          <div class="tab-pane" id="strict">


            <h4>Strict: 50% refund up until 1 week prior to arrival, except fees</h4>
            <ul>
              <li>Cleaning fees are always refunded if the guest did not check in.</li>
              <li>The Airbnb service fee is non-refundable.</li>
              <li>If there is a complaint from either party, notice must be given to Airbnb within 24 hours of check-in.</li>
              <li>Airbnb will mediate when necessary, and has the final say in all disputes.</li>
              <li>A reservation is officially cancelled when the guest clicks the cancellation button on the cancellation confirmation page, which they can find in Dashboard &gt; Your Trips &gt; Change or Cancel.</li>
              <li>Cancellation policies may be superseded by the Guest Refund Policy, safety cancellations, or extenuating circumstances. Please review these exceptions.</li>
            </ul>

            <div id="timeline-section">
              <div id="timeline">
                <div id="first-timeline-block">&nbsp;</div>
                <div id="second-timeline-block" class="timeline-block-severe">Within 7 days of check in</div>
                <div id="third-timeline-block">During your stay</div>
                <div id="fourth-timeline-block">&nbsp;</div>
              </div>

              <ol class="timeline-pins">
                <li id="first-pin">
                  <div class="label">
                    <div>7 days prior</div>
                    <div class="arrow">
                      <div class="circle"></div>
                      <div class="time">Fri, Jul 19<br>3:00 PM</div>
                    </div>
                  </div>
                </li>
                <li id="second-pin">
                  <div class="label">
                    <div>Check in</div>
                    <div class="arrow">
                      <div class="circle"></div>
                      <div class="time">Fri, Jul 26<br>3:00 PM</div>
                    </div>
                  </div>
                  <div class="example">
                    Example
                    <br>&nbsp;
                  </div>
                </li>
                <li id="third-pin">
                  <div class="label">
                    <div>Check out</div>
                    <div class="arrow">
                      <div class="circle"></div>
                      <div class="time">Mon, Jul 29<br>11:00 AM</div>
                    </div>
                  </div>
                </li>
              </ol>
            </div>

            <div id="timeline-annotation" class="clearfix">
              <div class="tl-annotation">
                <ul>
                  <li>For a 50% refund, cancellation must be made seven full days prior to listing's local check in time (or 3:00 PM if not specified) on the day of check in, otherwise no refund. For example, if check-in is on Friday, cancel by Friday of the previous week before check in time.</li>
                </ul>
              </div>
              <div class="tl-annotation">
                <div class="annotation-border"></div>
                <ul>
                  <li>If the guest cancels less than 7 days in advance, the nights not spent are not refunded.</li>
                </ul>
              </div>
              <div class="tl-annotation">
                <div class="annotation-border"></div>
                <ul>
                  <li>If the guest arrives and decides to leave early, the nights not spent are not refunded.</li>
                </ul>
              </div>
            </div>



            <br>

          </div>
          <div class="tab-pane" id="super-strict">


            <h4>Super Strict: 50% refund up until 30 days prior to arrival, except fees</h4>
            <ul>
              <li>Note: The Super Strict cancellation policy applies to special circumstances and is by invitation only.</li>
              <li>Cleaning fees are always refunded if the guest did not check in.</li>
              <li>The Airbnb service fee is non-refundable.</li>
              <li>If there is a complaint from either party, notice must be given to Airbnb within 24 hours of check-in.</li>
              <li>Airbnb will mediate when necessary, and has the final say in all disputes.</li>
              <li>A reservation is officially cancelled when the guest clicks the cancellation button on the cancellation confirmation page, which they can find in Dashboard &gt; Your Trips &gt; Change or Cancel.</li>
              <li>Cancellation policies may be superseded by the Guest Refund Policy, safety cancellations, or extenuating circumstances. Please review these exceptions.</li>
            </ul>

            <div id="timeline-section">
              <div id="timeline">
                <div id="first-timeline-block">&nbsp;</div>
                <div id="second-timeline-block" class="timeline-block-severe">Within 30 days of check in</div>
                <div id="third-timeline-block">During your stay</div>
                <div id="fourth-timeline-block">&nbsp;</div>
              </div>

              <ol class="timeline-pins">
                <li id="first-pin">
                  <div class="label">
                    <div>30 days prior</div>
                    <div class="arrow">
                      <div class="circle"></div>
                      <div class="time">Wed, Jun 26<br>3:00 PM</div>
                    </div>
                  </div>
                </li>
                <li id="second-pin">
                  <div class="label">
                    <div>Check in</div>
                    <div class="arrow">
                      <div class="circle"></div>
                      <div class="time">Fri, Jul 26<br>3:00 PM</div>
                    </div>
                  </div>
                  <div class="example">
                    Example
                    <br>&nbsp;
                  </div>
                </li>
                <li id="third-pin">
                  <div class="label">
                    <div>Check out</div>
                    <div class="arrow">
                      <div class="circle"></div>
                      <div class="time">Mon, Jul 29<br>11:00 AM</div>
                    </div>
                  </div>
                </li>
              </ol>
            </div>

            <div id="timeline-annotation" class="clearfix">
              <div class="tl-annotation">
                <ul>
                  <li>For a 50% refund, cancellation must be made 30 full days prior to listing's local check in time (or 3:00 PM if not specified) on the day of check in.</li>
                </ul>
              </div>
              <div class="tl-annotation">
                <div class="annotation-border"></div>
                <ul>
                  <li>If the guest cancels less than 30 days in advance, the nights not spent are not refunded.</li>
                </ul>
              </div>
              <div class="tl-annotation">
                <div class="annotation-border"></div>
                <ul>
                  <li>If guest arrives and decides to leave early, the nights not spent are not refunded.</li>
                </ul>
              </div>
            </div>



            <br>

          </div>
          <div class="tab-pane" id="long-term">


            <h4>Long Term: First month down payment, 30 day notice for lease termination</h4>
            <ul>
              <li>Note: The Long Term cancellation policy applies to all reservations of 28 nights or more.</li>
              <li>Cleaning fees are always refunded if the guest did not check in.</li>
              <li>The Airbnb service fee is non-refundable.</li>
              <li>If there is a complaint from either party, notice must be given to Airbnb within 24 hours of check-in.</li>
              <li>Airbnb will mediate when necessary, and has the final say in all disputes.</li>
              <li>A reservation is officially cancelled when the guest clicks the cancellation button on the cancellation confirmation page, which they can find in Dashboard &gt; Your Trips &gt; Change or Cancel.</li>
              <li>Cancellation policies may be superseded by the Guest Refund Policy, safety cancellations, or extenuating circumstances. Please review these exceptions.</li>
            </ul>

            <div id="timeline-section">
              <div id="timeline">
                <div id="first-half-timeline-block">Before check in</div>
                <div id="third-timeline-block">During your stay</div>
                <div id="fourth-timeline-block">&nbsp;</div>
              </div>

              <ol class="timeline-pins">
                <li id="second-pin">
                  <div class="label">
                    <div>Check in</div>
                    <div class="arrow">
                      <div class="circle"></div>
                      <div class="time">Fri, Jul 26<br>3:00 PM</div>
                    </div>
                  </div>
                  <div class="example">
                    Example
                    <br>&nbsp;
                  </div>
                </li>
                <li id="third-pin">
                  <div class="label">
                    <div>Check out</div>
                    <div class="arrow">
                      <div class="circle"></div>
                      <div class="time">Mon, Jul 29<br>11:00 AM</div>
                    </div>
                  </div>
                </li>
              </ol>
            </div>

            <div id="timeline-annotation" class="clearfix">
              <div class="tl-annotation">
                &nbsp;
              </div>
              <div class="tl-annotation">
                <ul>
                  <li>If the guest books a long term stay and decides to cancel the long term agreement before the start date, the first payment is paid to the host in full.</li>
                </ul>
              </div>
              <div class="tl-annotation">
                <div class="annotation-border"></div>
                <ul>
                  <li>If the guest books a long term stay and decides to cancel the long term agreement during their stay, the guest must use the online alteration tool in order to agree to a new checkout date. Regardless of the checkout date chosen, the guest is required to pay the host for the 30 days following the cancellation date, or up to the end date of the guest's original reservation if the remaining days of the original reservation is less than 30 days.</li>
                </ul>
              </div>
            </div>



            <br>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>