<div class="container container-page">
	<div class="hero-unit">
        <div class="pull-left" style="margin-right: 20px;">
			<img alt="{{_app.title}}" src="images/logo-recycle-32.png">
        </div>
        <h2>KarangGuni~ing is Starting Now</h2>
		<h3>Item Information</h3>
		<label>Item To Post:</label>
		<div class="container clearfix">
			
			<span>
				<video id="video" width="150" height="150" autoplay></video>
				<button id="snap">Snap Photo</button>
				<canvas id="canvas" width="150" height="150"></canvas>
				<label>Item Type:</label>
				<input type="text" placeholder="newspaper" name="itemType" id="itemType">
			</span>
		</div>
		<div class="container clearfix">
			<h3>Item Pick-Up</h3>
			<span>
				<label>Postal Code:</label>
				<input type="text" placeholder="139951" name="postalCode" id="postalCode">
				<label>Level - Unit No.:</label>
				<input type="text" placeholder="07-03" name="unitNo" id="unitNo">
			</span>
		</div>
		<button ng-click="filterKG()">View Karungguni</button>
		<div class="container clearfix" ng-show="showKGTable">
			<h4>List of Karangguni:</h4>
			<table class="table table-hover">
				<thead>
					<tr>
						<th>#</th>
						<th>Name</th>
						<th></th>
					</tr>
				</thead>
				<tr ng-repeat ="karungguni in karungguniList">
					<td>{{$index+1}}</td>
					<td>{{karungguni.last_name}},{{karungguni.first_name}}</td>
					<td><input type="radio" name="selectedKarungguni" id="selectedKarungguni" value={{karungguni.id}}></td>
				</tr>
			</table>
		</div>
		<button class="btn-success btn-small pull-right" ng-click="SubmitItem()">Proceed</button>
	</div>
</div>
<div class="clearfix">&nbsp;</div>
</div>