<div class="accordion-group space2 hidden">

  <div class="accordion-heading">
    <h3 class="header-underline accordion-toggle">
      Listings
      <span class="light">(2)</span>
    </h3>
  </div>

  <div class="accordion-inner panel-padding">
    <div class="body">
      <ul class="hostings-list unstyled">
        <li class="hostings-list-item clearfix">
          <div class="matte-media-box">
            <a href="https://www.airbnb.com.sg/rooms/545685"><img alt="Garden Suite with Private Bath" height="144" src="https://a0.muscache.com/pictures/6649217/small.jpg" title="Garden Suite with Private Bath" width="216"></a>
          </div>
          <h4><a href="https://www.airbnb.com.sg/rooms/545685">Garden Suite with Private Bath</a></h4>
          <h6 class="text-normal">21st Ave, San Francisco</h6>
          <ul class="details-list unstyled">
            <li><span class="icon icon-group"></span>Private room</li>
            <li><span class="icon icon-user"></span>3 Guests</li>
            <li><span class="icon icon-edit"></span>80 Reviews</li>
            <li><span class="currency_symbol before">$</span>79<span class="currency_symbol after"></span></li>
          </ul>
        </li>
        <li class="hostings-list-item clearfix">
          <div class="matte-media-box">
            <a href="https://www.airbnb.com.sg/rooms/585326"><img alt="Cozy Suite with Private Bath" height="144" src="https://a0.muscache.com/pictures/7285019/small.jpg" title="Cozy Suite with Private Bath" width="216"></a>
          </div>
          <h4><a href="https://www.airbnb.com.sg/rooms/585326">Cozy Suite with Private Bath</a></h4>
          <h6 class="text-normal">21st Ave, San Francisco</h6>
          <ul class="details-list unstyled">
            <li><span class="icon icon-group"></span>Private room</li>
            <li><span class="icon icon-user"></span>2 Guests</li>
            <li><span class="icon icon-edit"></span>56 Reviews</li>
            <li><span class="currency_symbol before">$</span>79<span class="currency_symbol after"></span></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>